#outer{
  margin: 30px auto;
  width: 350px;
  height: 400px;
  border: 2px solid rgb(3, 168, 218);
  background-color: azure;
  border-radius: 8px;
}

#image {
  width: 330px;
  height: 250px;
  margin: 10px 10px 0px 10px;
  border-radius: 8px;

}

#outer h1{
  text-align: center;
  margin-top: 10px;
}

#outer p{
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

#best {
  width: 90px;
  height: 20px;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 2px;
}

#inner{
 
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  background-color: azure;
  border-radius: 5px;
}

#best{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: blue;

}

#try{
  width: 80px;
  height: 30px;
  border: 1px solid rgb(248, 243, 243);
  background-color: azure;
  border-radius: 5px;
  position: absolute;
  top: 250px;
  left: 690px;
  font-weight: bold ;
  color: rgb(194, 4, 4);
}